/* Yolanda Pramesti_202432103 */
body {
    background-color: #f0f2f5;
    font-family: 'Verdana';
}

header {
    background: #476EAE;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

header h1 {
    margin: 0 0 0.8rem 0;
    font-size: 2em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.reg-form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    border-top: 5px solid #476EAE;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
    color: #476EAE;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: #476EAE;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}
